
/* 
Korištenjem engleskog naziva boje (npr. blue, green, red, purple, silver, gold ...)
*/


/*Tag selektor*/
div {
    background-color: brown;
    width: 150px;
    padding: 20px;
    
}

/* 

Koritenjem heksadekadske notacije komponenti boja - #RRGGBB , 
gdje je RR heksadekadska oznaka jednog bajta crvene komponente (R oznaka engl. red - crvena), 
GG heksadekadska oznaka jednog bajta zelene komponente (G od engl. green - zelena), 
BB je heksadekadska oznaka jednog bajta plave komponente (B od engl. blue - plava)

*/



/*Class selektor*/
.moj-div {
    background-color: #0000FF;
    width: 250px;
}




/*
Korištenjem dekadske notacije komponenti boja – rgb(R, G, B) , 
gdje je R označava dekadski broj od 0 do 255 oznake crvene komponente (R oznaka engl. red - crveno), 
G označava dekadski broj od 0 do 255 oznake zelene komponente (G od engl. green - zeleno), 
B označava dekadski broj od 0 do 255 oznaka plave komponente (B od engl. blue - plavo),
*/


/*ID selektor*/
#moj-id {
    background-color: rgb(189, 31, 3);
    width: 350px;
}



/*Child selektor*/

#my-child > p {
    color: aquamarine;
}





