/*

Kada je u pitanju selektovanje elemenata na osnovu atributa i njihovih vrijednosti, 
CSS dozvoljava vrlo fleksibilan scenario selektovanja. 
Ovo su neki od nacina selektovanja elementa na osnovu atributa.
     
[attribute] - navedeni atribut postoji na elementu
[attribute="value"] - navedena vrijednost je puna vrijednost atributa
 
[attribute*="value"] - navedena vrijednost je dio atributa i može se naći bilo gdje
[attribute^="value"] - navedenom vrijednošću započinje vrijednost atributa
 
[attribute$="value"] - navedenom vrijednošću se završava vrijednost atributa

*/

/* Selektovanje na osnovu postojanja */

a[target] { background-color: yellow; }


/* Selektovanje na osnovu tačne vrijednosti atributa */

a[target="_blank"] { background-color: blue; }


/* Selektovanje na osnovu dijela vrijednosti atributa koji moze biti bilo gdje */

[class*="wrap"] { 
    background-color: grey; 

}


/* Selektovanje teksta kojim pocinje vrijednost atributa */


a[href^="http://go"] { color: orange;
}