/*

PSEUDOKLASE
Veoma česta praksa jeste korišctenje pseudoklasa za stilizovane različitih stanja a elemenata kao što su npr.
prelazak mišem preko teksta ili buttona i sl.
     


/* unvisited link */
      a:link {
      color: red; 
    }

      /* mouse over link */
      a:hover {
          color: grey;
      }
      /* selected link */
      a:active {
          color: yellow;
      }

/*
Određene pseudoklase, prikazane prethodnim primjerom, nisu ograničene na linkove. 
Vrlo često koristimo :hover pseudoklasu na bilo kojem drugom elementu.

div:hover { 
    background-color: blue; 
}

*/