/*STYLES FOR INPUT TEXT FIELDS*/

#contact-wrapper {
    width: 70%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: solid 2px #c9c9c9;
    margin: 10px 0px 10px 0px;
}

input[type="text"]:hover {
    border: solid 2px #969696;
}

input[type="text"]:focus {
    border: solid 2px #262626;
}

input[type="text"]:disabled {
    background-color: rgba(201, 201, 201, 0.75);
}